 .u-section-1 {
  background-image: url("images/Savdent-p3-bk1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 794px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto auto;
  width: 871px;
  margin: 180px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 13.3333px));
  min-height: 488px;
  grid-gap: 20px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 23px;
}

.u-section-1 .u-image-1 {
  width: 116px;
  height: 124px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 5px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-1 .u-image-2 {
  width: 116px;
  height: 124px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 5px auto 0;
}

.u-section-1 .u-btn-2 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 23px;
}

.u-section-1 .u-image-3 {
  width: 116px;
  height: 124px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 5px auto 0;
}

.u-section-1 .u-btn-3 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 23px;
}

.u-section-1 .u-image-4 {
  width: 116px;
  height: 124px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-4 {
  margin: 5px auto 0;
}

.u-section-1 .u-btn-4 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 23px;
}

.u-section-1 .u-image-5 {
  width: 116px;
  height: 124px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-5 {
  margin: 5px auto 0;
}

.u-section-1 .u-btn-5 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 36px 9px 35px;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 23px;
}

.u-section-1 .u-image-6 {
  width: 116px;
  height: 124px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-6 {
  margin: 5px auto 0;
}

.u-section-1 .u-btn-6 {
  background-image: linear-gradient(to right, #478ac9, #2cccc4);
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 1px;
  box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.25);
  margin: 30px auto 0;
  padding: 8px 36px 9px 35px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-list-1 {
    width: 804px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 457px;
  }

  .u-section-1 .u-image-1 {
    height: 125px;
  }

  .u-section-1 .u-image-2 {
    height: 125px;
  }

  .u-section-1 .u-image-3 {
    height: 125px;
  }

  .u-section-1 .u-image-4 {
    height: 125px;
  }

  .u-section-1 .u-image-5 {
    height: 125px;
  }

  .u-section-1 .u-image-6 {
    height: 125px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1116px;
  }

  .u-section-1 .u-list-1 {
    width: 476px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 9.99997px));
    min-height: 740px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 837px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 953px;
}

.u-section-2 .u-shape-1 {
  width: 574px;
  height: 913px;
  margin: 20px 0 0 auto;
}

.u-section-2 .u-image-1 {
  height: 469px;
  width: 833px;
  margin: -890px auto 0 76px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 977px;
  margin: -173px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 580px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-2 .u-text-1 {
  font-family: Baloo;
  font-size: 4.5rem;
  line-height: 1;
  margin: 0 0 0 14px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 29px 75px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-style: none;
  background-image: none;
  margin: 28px auto 0 14px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 113px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 467px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 905px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 558px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 44px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 109px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 449px;
    background-position: 50% 0%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 865px;
  }

  .u-section-2 .u-image-1 {
    object-position: 72.08% 50%;
    height: 405px;
    width: 720px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -109px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 506px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 153px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 353px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1664px;
  }

  .u-section-2 .u-shape-1 {
    width: 540px;
  }

  .u-section-2 .u-image-1 {
    height: 304px;
    width: 540px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -8px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 334px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 771px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 948px;
  }

  .u-section-2 .u-shape-1 {
    height: 790px;
    margin-top: 51px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    height: 191px;
    margin-top: -770px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -15px;
    margin-bottom: 51px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 456px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: auto;
  }

  .u-section-2 .u-btn-8 {
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 237px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 500px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 581px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 30px;
  margin-bottom: 30px;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 571px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-text-1 {
  font-size: 16.25rem;
  font-weight: 900;
  line-height: 1;
  margin: 0 -15px 0 75px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 530px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 700;
}

.u-section-3 .u-line-1 {
  width: 50px;
  margin-top: 30px;
  margin-bottom: 0;
  height: 3px;
}

.u-section-3 .u-text-3 {
  line-height: 1.9;
  margin-bottom: 0;
  margin-top: 20px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 568px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-right: -42px;
    margin-left: 42px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 437px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 697px;
  }

  .u-section-3 .u-text-1 {
    margin-right: -46px;
    margin-left: 20px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 10px;
    margin-right: 10px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 292px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.125rem;
  margin: 20px auto 0;
}

.u-section-4 .u-social-icons-1 {
  height: 54px;
  min-height: 16px;
  width: 117px;
  min-width: 42px;
  margin: 12px auto 20px;
}

.u-section-4 .u-icon-1 {
  height: 100%;
}

.u-section-4 .u-icon-2 {
  height: 100%;
}

@media (max-width: 575px) {
  .u-section-4 .u-btn-1 {
    padding: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }
}